@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// TEXT

@mixin text-shadow($color, $size: 1) {
  $value: ();
  @for $i from 1 through $size {
    $v: $i + px;
    $h: $i + 1 + px;
    $theShadow: $h $v $color;
    $value: append($value, $theShadow, comma);
  }

  // Add border
  $theShadow: -1px -1px $color;
  $value: append($value, $theShadow, comma);

  $theShadow: -1px 1px $color;
  $value: append($value, $theShadow, comma);

  $theShadow: 1px -1px $color;
  $value: append($value, $theShadow, comma);

  text-shadow: $value;
}

// BORDERS

@mixin inset-border($bw: 2px) {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: $bw;
}

@mixin outset-border($bw: 2px) {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: outset;
  border-width: $bw;
}

@mixin framed-border($bw: 5px) {
  background: rgba(102, 102, 102, 0.08);
  border: $bw solid #666;

  .content {
    border-width: $bw * 2;
    border-style: solid;
    border-color: #555 #888 #555 #888;
  }
}

