/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
hr %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1 {
  // line-height: 0.8em;
}

/**
  * Code formatting
  */
code {
  // @include relative-font-size(0.9375);
  font-size: 0.8em;
  border: none;
  background-color: #a9a9a97a;
  font-family: Courier;
  // color: red;
  font-weight: normal;
  padding: 10px 20px;
  margin: 10px 0;
}

/**
  * Blockquotes
  */
  blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    // padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    // font-style: italic;
  
    > :last-child {
      margin-bottom: 0;
    }
  }
  



// @mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

//   font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
//   @media screen and (max-width: $lower-range) {
//     font-size: $min-font-size;
//   }
//   @media screen and (min-width: $upper-range){
//     font-size: $max-font-size;
//   }
// }



// h1 {
//   // @include fluid-type(45px, 80px);
//   font-weight: normal;
// }
// h2 {
//   // @include fluid-type(45px, 80px);
//   font-weight: normal;
// }
// h3 {
//   @include fluid-type(24px,32px);
//   font-weight: normal;
// }
// h4 {
//   font-weight: normal;
// }
// h5 {
//   font-weight: normal;
// }
// p {
//   @include fluid-type(18px, 22px);
//   font-weight: normal
// }

// ul li {
//   @include fluid-type(24px, 28px);
//   line-height: 1.5em;
//   // font-weight: normal
// }
// ol li {
//   @include fluid-type(20px, 30px);
//   line-height: 1.5em;
//   // font-weight: normal
// }

// blockquote {
//   @include fluid-type(18px, 22px);
//   margin: 1em 30px;
//   font-style: italic;
//   p {
//     margin: 0;
//     line-height: 1.3em;
//   }
// }







// h1 {
//   margin: 0;
// }


