.moment.item {
  @include inset-border(4px);
  margin: 4rem 0;

  // VIDEO
  &.video {
    @include inset-border(21px);
    width: 500px;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

    // QUOTE
    &.quote {

      @include framed-border(5px);
      max-width: 600px;
      blockquote {
        margin: 0;
        padding: 8px 23px;
        color: white;
        font-style: italic;
        font-family: Georgia;
        font-size: 1.2em;
        text-shadow: #00000047 0px 0px 5px;
      }
      p.cite {
        margin-left: 23px;
      }

        
    }

    // IMAGE
    &.image {
      padding: 2rem;
      @include inset-border(1px);
      background: #ffffff24;

      img {
        border: solid 1px #5959596b;
      }
      
    }

    // SIZES
    &.small {
      width: 400px;
    }
}
