.bones {
  background-image: url(/assets/images/kiss.png);
  background-size: 55px 55px;
  background-repeat: repeat;
}

.rock {
  background-image: url(/assets/images/bg.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
}

body {
  @extend .rock;
}

// NAV

.nav {
  a {
    margin: 0 5px;
  }
}

// HEADER
.header {
  margin: 0 $content-padding;
}

main {
  padding: 0 $content-padding;

  // List of links
  ul {
    li {
      margin: 5px 0;
      a {
        font-weight: bold;
      }
    }
  }
}

// FOOTER

footer {
  flex-shrink: 0;
  p {
    margin: 20px 0;
    font-size: 13px;
    text-align: center;
    color: #323232;
  }
}
