$purple: #9a00a4;
$yellow: rgb(255, 238, 0);
$yellow-color-light: rgba(255, 238, 0, 0.548);
$green: #49ff00;

$spacing-unit: 7vh;

// --------------------------------------------------

@mixin reset() {
  * {
    padding: 0;
    margin: 0;
    line-height: 1em;
  }
}

@function generate-random-stars($screen-width, $color, $density) {
  $h-shadow: random($screen-width);
  $v-shadow: random($screen-width);

  $stars: "#{$h-shadow}px #{$v-shadow}px #{$color}";
  @for $i from 2 through $density {
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);

    $stars: "#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}";
  }
  @return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  animation-name: glowing-stars;
  animation-duration: $speed + s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay + s;
}

@keyframes glowing-stars {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

// --------------------------------------------------

.title {
  font-family: Arial Black, Gadget, sans-serif;
  font-weight: bold;
  color: $yellow;
  text-align: center;
}

.text {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}
.link {
  font-family: Arial, Gadget, sans-serif;
  color: $yellow;
  font-weight: 400;
  line-height: 1.2em;
  &:hover {
    text-decoration: underline;
  }
}

.gradient-background {
  background-color: $purple-color-dark;
  background-image: linear-gradient(
    $purple-color-dark 0vh,
    $purple-color-dark 60vh,
    $magenta-color 100vh,
    $magenta-color 90%,
    $purple-color-dark 100%
  );
}
// --------------------------------------------------

body.moments-of-empathy {
  @include reset();
  @extend .gradient-background;

  h4 {
    @extend .text;
    font-size: calc(16px + 0.5vw);
  }
  blockquote {
    border: none;
  }
  a {
    @extend .link;
  }

  .content {
    text-align: center;
    margin-bottom: 45vh;
    h1 {
      @extend .title;
      font-size: calc(17vw);
      margin-bottom: $spacing-unit * 1.8;
    }
    h2 {
      @extend .title;
      font-size: calc(26px + 4.5vw);
      margin-top: $spacing-unit * 2;
    }

    img {
      border: 4px #ffffff;
      border-style: solid;
      max-width: 90vw;
    }
  }

  // Layout
  .moments {
    display: flex;
    flex-direction: column;
    align-items: center;

    .moment {
      max-width: 800px;
      margin-bottom: 20vh;

      &.quote {
        border: solid 3px $yellow;
        width: 90vw;
        padding: 3em 2em;
        blockquote p {
          line-height: 1.3em;
          font-family: Times New Roman;
          font-size: 40px;
          border: none;
          color: rgba(255, 255, 255, 0.774);
          font-weight: 100;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.6em;
        }
      }

      &.golden {
        box-shadow: $yellow 0px 0px 50px 25px;
        border: 3px $yellow solid;
      }
      .image-wrapper {
        max-width: 70vw;
      }
      &.emoji {
        a {
          font-size: 15vh;
        }
      }
    }
  }
}

.stars-background {
  @include stars-content(1800, $yellow, 300, 4, 2);
  position: absolute;
}
// --------------------------------------------------

@include media-query($on-palm) {
  body.moments-of-empathy {
    h1 {
      font-weight: bold;
      font-size: calc(16px + 15.5vw);
    }
    h2 {
      font-size: calc(16px + 4.5vw);
      font-weight: bold;
    }
  }
}
