<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <!-- Title -->
  <title>{{ page.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="assets/main.css" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.icon256 }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.icon32 }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.icon16 }}" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kevando_" />
  <meta name="twitter:title" content="{{ page.twitter_title}}" />
  <meta name="twitter:description" content="{{ page.twitter_description }}" />
  <meta name="twitter:image" content="{{ page.twitter_image }}" />

  <!-- Facebook Preview Tags -->
  <meta property="og:url" content="https://chaz.co" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.facebook_title}}" />
  <meta property="og:description" content="{{ page.facebook_description }}" />
  <meta property="og:image" content="{{ page.facebook_image }}" />

  {%- include google-analytics.html -%}
</head>
