

// HEADER
.header {
  margin: 10px 0 20px 0;
  @include for-desktop-up {
    a {
      display: none;
    }  
  }
  
}



// MOMENTS

.moment.item {
  @include inset-border(4px);
  margin: 0 0 4rem 0;
  max-width: 400px;

  // VIDEO
  &.video {
    @include inset-border(21px);
    max-width: 400px;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

    // QUOTE
    &.quote {
      max-width: 600px;
    }

    // IMAGE
    &.image {
      // padding: 2rem;
      @include inset-border(1px);
      background: #ffffff24;

      img {
        border: solid 1px #5959596b;
      }
      
    }
}


img.logo {
  // width: 100px;
  margin-bottom: 10px;
  @include for-phone-only {
    // width: 50px;
  }
}





.faq {
  img {
    display: block;
    max-width: 500px;
    margin: 20px 0;
    border: solid 2px white;
  }
}


// NAV

.nav {
  a {
    margin-right :5px;
  }
}



// LAYOUT 

main {
  padding: $content-spacing;

  // List of links
  ul {
    padding-left: 20px;
    li {
      margin: 5px 0;
    }
  }
}

