html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 20px;
}
@media screen and (min-width: 599px) {
  body {
    font-size: calc(20px + 8 * ((100vw - 599px) / 901));
  }
}
@media screen and (min-width: 1500px) {
  body {
    font-size: 28px;
  }
}
body h1 {
  font-size: 55px;
}
@media screen and (min-width: 599px) {
  body h1 {
    font-size: calc(55px + 15 * ((100vw - 599px) / 901));
  }
}
@media screen and (min-width: 1500px) {
  body h1 {
    font-size: 70px;
  }
}

h1 {
  line-height: 0.7em;
}

h3 {
  font-weight: normal;
}
h3 {
  font-size: 25px;
}
@media screen and (min-width: 599px) {
  h3 {
    font-size: calc(25px + 7 * ((100vw - 599px) / 901));
  }
}
@media screen and (min-width: 1500px) {
  h3 {
    font-size: 32px;
  }
}

h4 + p {
  margin-top: 0;
}

p {
  margin-top: 0em;
  margin-bottom: 0.7em;
}

blockquote {
  margin: 0;
  font-style: italic;
  line-height: 1.3em;
}
blockquote {
  font-size: 26px;
}
@media screen and (min-width: 600px) {
  blockquote {
    font-size: calc(26px + 24 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  blockquote {
    font-size: 50px;
  }
}
blockquote p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 30px;
}

h1 {
  margin-bottom: 30px;
}

ul {
  margin: 0;
}
ul li {
  line-height: 1em;
  margin-bottom: 10px;
}

ol {
  margin: 0;
}
ol li {
  line-height: 1.5em;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

body > hr {
  margin-left: 20px;
  margin-right: 20px;
}

body > .footer {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header a.logo {
  display: inline-block;
}
.header a.logo img {
  padding-top: 10px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.moments h1 {
  text-shadow: 3px 1px #000, 4px 2px #000, 5px 3px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
  color: #f5d80c;
  font-weight: bold;
  line-height: 1.1em;
}

.moment.item {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 4px;
  margin: 0 0 4rem 0;
  max-width: 400px;
}
.moment.item.video {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 21px;
  max-width: 400px;
}
.moment.item .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.moment.item .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.moment.item.quote {
  max-width: 600px;
  padding: 1em 1em;
}
.moment.item.image {
  padding: 1em 1em;
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  background: #ffffff24;
}
.moment.item.image p {
  margin: 0;
}
.moment.item.image img {
  border: solid 1px #5959596b;
}

.handshake h1 {
  line-height: 1.2em;
}
.handshake h2 {
  font-weight: bold;
}
.handshake img {
  max-width: 80px;
}
.handshake ol li strong {
  font-size: 1.4em;
}

body {
  background-color: #C0C0C0;
}

.button-down {
  border-width: 2px;
  border-style: inset;
  border-color: white;
}

.button-up {
  border-width: 2px;
  border-style: outset;
}

.test a, .test a:active, .test a:hover, .test a:visited {
  padding: 10px;
  border-style: solid;
}
.test a:link {
  color: blue;
  text-decoration: none;
}
.test a:active, .test a:hover {
  border-color: black;
}
.test a:visited {
  text-decoration: underline;
  color: purple;
}
.test a:visited + a {
  border-color: black;
}

.handshake h2 {
  text-align: center;
}
.handshake .action.right {
  text-align: right;
}
.handshake .action.receive {
  text-align: right;
}
.handshake .action a {
  text-transform: capitalize;
}
.handshake .handshake-steps .step-row {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.handshake .handshake-steps .step-row span {
  display: flex;
  font-family: monospace;
  font-size: 70px;
  margin: 0px;
}
.handshake .handshake-steps .step-row span.left {
  padding: 5px;
  z-index: 10;
  border-width: 3px;
}
.handshake .handshake-steps .step-row span.left.complete {
  text-shadow: 3px 1px #3cff00, 4px 2px #3cff00, 5px 3px #3cff00, 6px 4px #3cff00, 7px 5px #3cff00, 8px 6px #3cff00, -1px -1px #3cff00, -1px 1px #3cff00, 1px -1px #3cff00;
}
.handshake .handshake-steps .step-row span.left.send {
  border-color: #f5d80c;
  border-style: solid;
  background-color: #f5d80c;
}
.handshake .handshake-steps .step-row span.right {
  z-index: 10;
  padding: 5px;
}
.handshake .handshake-steps .step-row span.right.receive {
  border-color: #f5d80c;
  border-style: solid;
  background-color: #f5d80c;
}
.handshake .handshake-steps .step-row span.right.ready {
  text-shadow: 5px -1px 10px blue, -5px 1px 10px blue, 1px -5px 10px blue;
}
.handshake .handshake-steps .step-row span.right.complete {
  text-shadow: 3px 1px #3cff00, 4px 2px #3cff00, 5px 3px #3cff00, 6px 4px #3cff00, 7px 5px #3cff00, 8px 6px #3cff00, -1px -1px #3cff00, -1px 1px #3cff00, 1px -1px #3cff00;
}
.handshake .handshake-steps .step-row span.connection {
  position: relative;
  flex-grow: 1;
  border-top-width: 7px;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 20px;
}
.handshake .handshake-steps .step-row span.connection::before {
  content: "";
  position: absolute;
  left: 0px;
  font-size: 51px;
  font-weight: bold;
  bottom: -33px;
  font-family: monospace;
}
@media (max-width: 599px) {
  .handshake .handshake-steps .step-row span.connection::before {
    bottom: -38px;
  }
}
.handshake .handshake-steps .step-row span.connection::after {
  content: "";
  position: absolute;
  right: -5px;
  font-size: 51px;
  font-weight: bold;
  bottom: -32px;
  color: #f5d80c;
  font-family: monospace;
}
@media (max-width: 599px) {
  .handshake .handshake-steps .step-row span.connection::after {
    bottom: -28px;
  }
}
.handshake .handshake-steps .step-row span.connection.complete {
  border-color: #3cff00;
  border-style: solid;
}
.handshake .handshake-steps .step-row span.connection.send {
  border-top-color: #f5d80c;
  border-top-style: solid;
}
.handshake .handshake-steps .step-row span.connection.send::after {
  content: ">";
}
.handshake .handshake-steps .step-row span.connection.receive {
  border-top-color: red;
  border-top-style: solid;
}
.handshake .handshake-steps .step-row span.connection.acknowledges {
  border-top-color: #f5d80c;
  border-top-style: solid;
  border-bottom-color: blue;
  border-bottom-style: dashed;
}
.handshake .handshake-steps .step-row span.connection.acknowledges::before {
  content: "<";
}
.handshake .handshake-steps .step-row span.connection.acknowledge-receive {
  border-top-color: #f5d80c;
  border-top-style: solid;
  border-bottom-color: blue;
  border-bottom-style: solid;
}
.handshake .handshake-steps .step-row span.connection.connection-send {
  border-top-color: #f5d80c;
  border-top-style: solid;
  border-bottom-color: blue;
  border-bottom-style: solid;
}
.handshake .handshake-steps .step-row span.connection.connection-receive {
  border-top-color: #3cff00;
  border-top-style: solid;
  border-bottom-color: #3cff00;
  border-bottom-style: solid;
}

/*# sourceMappingURL=main.css.map */
