body {
  background-color: #C0C0C0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: calc(24px + 8 * ( (100vw - 420px) / 480));
  font-weight: normal;
}
@media screen and (max-width: 420px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

p {
  font-size: calc(18px + 4 * ( (100vw - 420px) / 480));
  font-weight: normal;
}
@media screen and (max-width: 420px) {
  p {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  p {
    font-size: 22px;
  }
}

ul li {
  font-size: calc(24px + 4 * ( (100vw - 420px) / 480));
  line-height: 1.5em;
}
@media screen and (max-width: 420px) {
  ul li {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  ul li {
    font-size: 28px;
  }
}

ol li {
  font-size: calc(20px + 10 * ( (100vw - 420px) / 480));
  line-height: 1.5em;
}
@media screen and (max-width: 420px) {
  ol li {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  ol li {
    font-size: 30px;
  }
}

blockquote {
  font-size: calc(18px + 4 * ( (100vw - 420px) / 480));
  margin: 1em 30px;
  font-style: italic;
}
@media screen and (max-width: 420px) {
  blockquote {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  blockquote {
    font-size: 22px;
  }
}
blockquote p {
  margin: 0;
  line-height: 1.3em;
}

h1 {
  margin: 0;
}

.btn {
  text-decoration: wavy;
  color: black;
  background-color: #e4e4e4;
  padding: 6px 14px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: outset;
  border-width: 3px;
  border-color: beige;
}
.btn:active {
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 3px;
  border-color: beige;
}
.btn:focus {
  color: red;
}
.btn:focus-within {
  color: orange;
}
.btn:hover {
  color: yellow;
}
.btn:visited {
  border-style: dashed;
  color: blue;
  background-color: #c7c7c7;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

body {
  margin: 0;
}

.content {
  padding: 5% 5% 5% 5%;
}

html {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc( 30px + 24 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 54px;
  }
}

body.computer-chronicles {
  background: linear-gradient(0deg, #870B82 30%, #3B0F70 60%);
  background-attachment: fixed;
}
body.computer-chronicles h1 {
  color: #c2af33;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1em;
}
body.computer-chronicles h1.top {
  font-style: italic;
}
body.computer-chronicles h4 {
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  margin: 20px 0;
}
body.computer-chronicles .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}
body.computer-chronicles .content .item {
  display: flex;
  max-width: 400px;
  border: inset 3px;
  margin: 1% 1%;
  padding: 1% 1%;
}
body.computer-chronicles .content .item img {
  max-width: 100%;
}
