@import "../components/stars";
@import "../components/thats-a-button";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");

$purple: #9a00a4;
$yellow: rgb(255, 238, 0);
$yellow-color-light: rgba(255, 238, 0, 0.548);
$green: #49ff00;

$spacing-unit: 7vh;

$spacing-unit-content: 8vh;
$spacing-unit-text: 3vh;

$title-font-family: Arial Black, Gadget, sans-serif;

// --------------------------------------------------

body.purple-gradient {
  background-color: $purple-color-dark;

  background-image: linear-gradient(
    $purple-color-dark 0vh,
    $purple-color-dark 60vh,
    $magenta-color 100vh,
    $magenta-color 90%,
    $purple-color-dark 100%
  );
}

// height: 100vh;
// display: flex;
// flex-direction: column;
// justify-content: space-evenly;

// Page Title

header.full-page {
  // background-color:red;

  h1.giant-yellow-title {
    margin: 9vh 0;
    font-family: $title-font-family;
    font-weight: bold;
    color: $yellow;
    text-align: center;

    span {
      display: block;
      &:nth-child(1) {
        @include fluid-type(10vw, 5vw);
        line-height: 0.7;
        margin-bottom: $spacing-unit-text;
      }
      &:nth-child(2) {
        @include fluid-type(19vw, 10vw);
        line-height: 0.81;
      }
    }
  }
  img.banner {
    margin: 0 auto 8vh auto;
    display: block;

    border: 4px #ffffff;
    border-style: solid;
    max-width: 90vw;
  }
}

footer.moments {
  margin: $spacing-unit-content;
  @include fluid-type(7vw, 4vw);
  letter-spacing: 2vw;
  line-height: 0.1;
}

p.fixed-and-fading {
  position: absolute;
  font-family: Arial;
  letter-spacing: 1px;
  top: 89vh;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.21);
}

a {
  font-family: Arial, Gadget, sans-serif;
  color: $yellow;
  font-weight: 400;
  line-height: 1.2em;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $purple;
  }
}

// --------------------------------------------------

.text {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

body.moments-of-empathy {
  @extend .reset;

  blockquote {
    border: none;
  }

  .content {
    text-align: center;
    margin-bottom: 45vh;
  }

  // Layout
  .moments {
    display: flex;
    flex-direction: column;
    align-items: center;

    .moment {
      max-width: 800px;
      margin-bottom: 20vh;

      &.quote {
        border: solid 2px $yellow;
        width: 90vw;
        padding: 3em 2em;
        blockquote p {
          line-height: 1.3em;
          font-family: "Lato";
          font-size: 40px;
          border: none;
          color: rgba(255, 255, 255, 0.8);
          font-weight: 100;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.6em;
          strong {
            font-weight: 500;
          }
        }
      }

      &.golden {
        box-shadow: $yellow 0px 0px 50px 25px;
        border: 3px $yellow solid;
      }
      .image-wrapper {
        max-width: 70vw;
      }
      &.emoji {
        a {
          font-size: 15vh;
        }
      }
    }
  }
}

.stars-background {
  @include stars-content(1800, $yellow, 300, 4, 2);
  position: absolute;
}
// --------------------------------------------------
//                     Mobile
// --------------------------------------------------

@include media-query($on-palm) {
  body.moments-of-empathy {
    h1 {
      font-weight: bold;
      font-size: calc(16px + 15.5vw);
    }
    h2 {
      font-size: calc(16px + 4.5vw);
      font-weight: bold;
    }
    .moments {
      .moment {
        &.quote {
          padding: 2em 1em;
          border: none;

          blockquote p {
            font-weight: 300;
            font-size: 30px;
          }
          p {
            margin-top: 20px;
            font-size: 1.2em;
          }
        }
        &.emoji {
          a {
            font-size: 40vw;
          }
        }
      }
    }
  }
}

@include for-tablet-only() {
  body.moments-of-empathy {
    .moments {
      .moment {
        &.quote {
          blockquote p {
            font-weight: 300;
            font-size: 30px;
          }
          p {
            margin-top: 20px;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
