@import "../components/stars";
@import "../components/thats-a-button";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,900&display=swap");

$purple: #9a00a4;
$yellow: rgb(255, 238, 0);
$yellow-color-light: rgba(255, 238, 0, 0.548);
$green: #49ff00;

$spacing-unit: 7vh;

$spacing-unit-content: 8vh;
$spacing-unit-text: 3vh;

$title-font-family: "Montserrat", sans-serif;

// --------------------------------------------------

body.purple-gradient {
  background-color: $purple-color-dark;
  background-image: linear-gradient(
    $purple-color-dark 0vh,
    $purple-color-dark 60vh,
    $magenta-color 100vh,
    $magenta-color 90%,
    $purple-color-dark 100%
  );
}

// ----------------------------------
//            Header
// ----------------------------------
header.full-page {
  margin-bottom: $spacing-unit-content * 2;
  position: relative;

  h1.giant-yellow-title {
    margin: 9vh 0;
    font-family: $title-font-family;
    color: $yellow;
    text-align: center;

    span {
      display: block;
      &:nth-child(1) {
        @include fluid-type(9vw, 5vw);
        line-height: 0.7;
        margin-bottom: $spacing-unit-text;
        font-weight: 700;
      }
      &:nth-child(2) {
        @include fluid-type(18vw, 10vw);
        line-height: 0.81;
        font-weight: 900;
      }
    }
  }
  img.banner {
    margin: 0 auto 8vh auto;
    display: block;

    border: 4px #ffffff;
    border-style: solid;
    max-width: 90vw;
  }
  p.fixed-and-fading {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.21);
    @include tablet() {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1z;
    }
    @include fadeIn(10s);
  }
}

// Footer

footer.moments {
  margin: $spacing-unit-content;
  @include fluid-type(7vw, 4vw);
  letter-spacing: 2vw;
  line-height: 0.1;
}

a {
  color: $yellow;
  font-weight: 400;
  line-height: 1.2em;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $purple;
  }
}
P {
  font-family: Verdana, Geneva, sans-serif;
}

// --------------------------------------------------

.text {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

body {
  @extend .reset;
}


// ----------------------------------
//        Moments List
// ----------------------------------
.moments {
  display: flex;
  flex-direction: column;
  align-items: center;
  .moment {
    max-width: 800px;
    margin-bottom: 30vh;
    &.golden {
      box-shadow: $yellow 0px 0px 50px 25px;
      border: 3px $yellow solid;
    }
    .image-wrapper {
      max-width: 70vw;
      margin: 0;
    }
    &.chipotle, > * {
      max-width: 100%;
      > * {
        max-width: 100%;;
      }
    }
  }
}

.moment.quote {
  border: solid 2px $yellow;
  width: 90vw;
  padding: 3em 2em;
  blockquote {
    border: none;
    p {
      line-height: 1.3em;
      font-family: "Lato";
      font-size: 40px;
      border: none;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 100;
      margin-bottom: 10px;
      font-size: 1.6em;
      strong {
        font-weight: 500;
      }

      @include tablet() {
        font-weight: 300;
        font-size: 30px;

        p {
          margin-top: 20px;
          font-size: 1.2em;
        }
      }
    }
  }
  @include phone() {
    border: none;
    padding: 2em 1em;

    blockquote p {
      font-weight: 300;
      font-size: 30px;
    }
    p {
      margin-top: 20px;
      font-size: 1.2em;
    }
  }
}

.stars-background {
  @include stars-content(1800, $yellow, 300, 4, 2);
  position: absolute;
}

// ----------------------------------
//            Emoji Link
// ----------------------------------
a.emoji {
  @include fluid-type(90px, 90px);
  text-shadow: $yellow 0px 0px 20px, $yellow 0px 0px 30px, $yellow 0px 0px 40px,$yellow 0px 0px 70px;
  text-decoration: none;;
  &:visited {
    color: green!important;
    @include fluid-type(9px, 9px);
  }
}