// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove weird border from focus elements
:focus {
  outline: none;
}

body {
  background: $yellow;
}

svg {
  width: 70px;
  height: 70px;
  fill: #5e71d0;
  transform: scale(1);
  transition: transform 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s;
}
svg:hover {
  fill: #d81c1c;
  transform: scale(1.1);
}
