$min_width: $phone;
$max_width: 1500px;
$min_font: 20px;
$max_font: 28px;

$min: $phone;
$max: 1500px;
$largest: 28px;
$smallest: 20px;

body {
  @include fluid-type($min, $max, $smallest, $largest);

  h1 {
    $max_font: 70px;
    $min_font: 55px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
  }
}

// ----------------------------------------------------- H1
h1 {

  line-height: 0.7em;
}
// ----------------------------------------------------- H2
h2 {
  + h3 {
    // margin-bottom: 0;
  }
  + p {
    // margin-top: 10px;
  }
}
// ----------------------------------------------------- H3
h3 {
  @include fluid-type($min, $max, 25px, 32px);
  font-weight: normal;
}
// ----------------------------------------------------- H4
h4 {
  + p {
    margin-top: 0;
  }
}
// ----------------------------------------------------- H5
// ----------------------------------------------------- P
p {
  margin-top: 0em;
  margin-bottom: 0.7em;
}

// ----------------------------
//          Quotes
// ----------------------------

blockquote {
  $min_width: 600px;
  $min_font: 26px;
  $max_width: 1500px;
  $max_font: 50px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  margin: 0;
  font-style: italic;
  line-height: 1.3em;

  p {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: $v-spacing;
}

h1 {
  margin-bottom: $v-spacing;
}


// ----------------------------
//          Lists
// ----------------------------
ul {
  margin: 0;
  li {
    line-height: 1em;
    margin-bottom: 10px;
  }
}
ol {
  margin: 0;
  li {
    line-height: 1.5em;
  }
}
