// Colors

$white: #fff;
$black: #000;

$grey: #c0c0c0;
$background-color: #C0C0C0;

$purple: purple;
$yellow: #f5d80c;

// Sizes
$small: 300px;
$medium: 900px;

$content-spacing: 20px;
$v-spacing: 30px;

// Device Breakpoints
$phone: 599px;
$tablet-portrait: 600px;  
$tablet-landscape: 600px;  
$desktop: 1200px;
$big-desktop: 1800px;