$yellow: #c2af33;
$dark-purple: #3B0F70;
$light-purple: #870B82;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}


@mixin gradient-background {
  background: 
    linear-gradient(0deg, $light-purple 30%, $dark-purple 60%);
    background-attachment: fixed;
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 30px;
$max_font: 54px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body.computer-chronicles {
  // background-color: red;
  @include gradient-background();

  h1 {
    color: $yellow;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;

    text-align: center;
    line-height: 1.1em;
    &.top {
      font-style: italic;
    }
  }
  h4 {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 20px 0;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    .item {
      display: flex;
      
      max-width: 400px;
      border: inset 3px;
      margin: 1% 1%;
      padding: 1% 1%;

      img {
        max-width: 100%;
      }
    }
  }
}
