---
layout: empty
---

<div class="content handshake">
  <h2>{{ page.title }}</h2>

  <div class="handshake-steps step-{{ page.current_step }}">
    <hr />

    <h1 class="step-row">
      <span class="left {{page.status}}">{{page.left_iconn }}&nbsp;</span>
      <span class="connection {{page.status}}"></span>
      <span class="right {{page.status}}">{{page.right_iconm }}&nbsp;</span>
    </h1>

  </div>
<div class="action {{ page.action_side }}">
  <a href="{{ page.next }}">{{ page.action_name }}</a>
</div>
  <div>
    {{ content }}
  </div>
  <input type="checkbox" />
</div>

<!-- <footer class="footer">
  
</footer> -->
