<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="moments-of-empathy">

    <div class="content">
      {{ content }}
  </div>  

    <!-- List of Items -->
    <div class="moments">

      <!-- Iterate over the collection -->
      {% for moment in site.moments %}
        <div class="moment {{ moment.class }}">
        
          {% if moment.image %}
            <div class="image-wrapper">
              <img src="{{ moment.image }}" alt="{{ moment.title }}" />
            </div>
          {% endif %}

          {{ moment.content }}
        </div>
        
      {% endfor %}
    </div>
    
    <div class="stars-background"></div>
  </body>


</html>
