.empathy {


  padding: 20px;

  img.simpsons {
    max-width: 100%;
    margin-bottom: 40px;
  }

  h4 {
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    color: #ffffff;
    display: inline-block;
    background: black;
    position: absolute;
    padding: 3px 18px;
  }
}