.bones {
  background-image: url(/assets/images/kiss.png);
  background-size: 55px 55px;
  background-repeat: repeat;
}

.rock {
    background-image: url(/assets/images/bg.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
}

body {
  background-color: $grey;
  margin: 0;
  @extend .rock;
}

// NAV

.nav {
  a {
    margin: 0 5px;
  }
}

.header {
  h1 {
    font-weight: bold;
  }
}

main {
  padding: 20px 20px;
  .moment.item {
    @extend .moment-card;
    width: 100%;
    margin-bottom: 50px;
    display: flex;

    &.image {
      max-width: 500px;
      border: solid 3px black;
      padding: 4px;
      p {
        margin: 5px 0 42px 0;
      }
    }
    &.quote {
      @extend .shadow;
    }

    blockquote {
      width: 60%;
      margin: 40px 20% 10px 20%;
      border-left: solid 2px white;
      padding: 8px 23px;
      color: white;
      font-style: italic;
      font-family: Georgia;
      font-size: 1.2em;
      text-shadow: #00000047 0px 0px 5px;
    }
    cite {
      margin-left: 22%;
    }

    .video {
      background-color: white;
      padding: 5px;
      p {
        margin: 10px 0;
      }
    }
  }

  ul {
    li {
      margin: 5px 0;
      a {
        font-weight: bold;
      }
    }
  }
}

img {
  max-width: 100%;
}




html, body, main {
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}


// FOOTER

footer {
  flex-shrink: 0;
  p {
    margin: 20px 0;
    font-size: 13px;
    text-align: center;
    color: #323232;
  }
}