.content {
  padding-left: $content-spacing;
  padding-right: $content-spacing;
  // padding-top: $v-spacing;
}

body > hr {
  margin-left: $content-spacing;
  margin-right: $content-spacing;
}

body > .footer {
  margin-left: $content-spacing;
  margin-right: $content-spacing;
  padding-top: 0px;
  padding-bottom: 5px;
}

hr {
  margin-top: $v-spacing;
  margin-bottom: $v-spacing;
}

// Text

